        body{font-family: Tahoma; font-size: 11px;}
        a{ text-decoration: none; }
        a:hover{ text-decoration: underline;  transform:}         
        a.pale{ color: #ccc; }
        a.pale:hover{ color: black; text-decoration: none;}
        button{border-style:none; padding: 4px 0px; cursor:pointer;}
        button.days {width: 85px;}
        button.days.active{ font-weight: bold; background-color: #6699bb; color: white;}
        .tac{text-align: center;}
        .buttons{margin-bottom: 15px;}
        .chart{height: 348px; background: url(loading.gif) center no-repeat;}
        .chart_row{margin-top: 20px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #D9E0E7; margin-left:auto; margin-right:auto;}
        .chart_row:first-child{margin-top: 0px;}
        .change_exchanger.active{color: black;}
        .add_row{display:block; text-align:center; padding:10px; margin-top:10px; color: #ccc; text-decoration:none; font-size:20px;}
        .add_row:hover{background-color:#eee;}
        .oversign{position: absolute; left:0; text-align: center; font-size: 36px; margin-top: -7px; opacity: 0.6; width:100%; }
        .trend{
            position: absolute;
            top: 370px;
            left: 50%;
            height: 5px;
            width: 1800px;
            margin-top: -90px;
            margin-left: -600px;
            background-color: magenta;
            opacity: 0.5;
            text-align: center;
            font-size: 20px;
            padding-left: 240px;
                        
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }

        .ticker{
            font-size: 20px;
            display: inline-table;
            padding: 2px 20px 20px 20px;
        }
        
        .volume{
            font-size: 9px; 
            color: gray;
            margin-top: 5px;
        }
        
        .price{
            color: #009;
            margin-top: 5px;
        }
